// defining the breakpoints
$large: 1000px;
$small: 570px;
$medium: 800px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
}

header {
    width: 100%;
    padding: 2rem 2.5rem;

    .heading {
        font-family: "Space Mono", sans-serif;
        font-size: 1.2rem;
    }
}

main {
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: 1.5rem auto;
    @media screen and (max-width: $large){
        max-width: 90%;
    }
    @media screen and (max-width: $medium){
        max-width: 100%;
        margin: 1.5rem;
    }

    display: flex;
    .section-content {
        display: flex;
        @media screen and (max-width: $small){
            display: block;
        }
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
        .left {

            flex: 1;

            .image-figure {
                width: 85%;
                @media screen and (max-width: $large){
                    max-width: 100%;
                }
                @media screen and (max-width: $small){
                    max-width: 80%;
                }
                margin: 1.5rem auto;
                .image {
                    width: 100%;
                }
            }
        }

        .right {
            flex: 1;
            @media screen and (max-width: $small){
                margin: 0 1.5rem;
            }
            .banner {
                max-width: 85%;
                @media screen and (max-width: $large){
                    max-width: 100%;
                }
                h1 {
                    font-size: 4rem;
                    @media screen and (max-width: $medium){
                        font-size: 3rem;
                    }
                    @media screen and (max-width: $small){
                        font-size: 2.5rem;
                    }
                    font-family: 'Space Mono', sans-serif;
                }

                .banner-paragraph {
                    max-width: 80%;
                    @media screen and (max-width: $large){
                        max-width: 100%;
                    }
                    margin-top: 1.5rem;
                    p {
                        font-size: 1.5rem;
                        font-family: 100;
                        font-family: 'Space Mono', sans-serif;
                        color: #757575;

                        @media screen and (max-width: $medium){
                            font-size: 1.4rem;
                        }

                        @media screen and (max-width: $small){
                            font-size: 1.2rem;
                        }

                    }
                }
            }

            .homepage-button-section {
                button {
                    font-family: 'Space Mono', sans-serif;
                    color: #fff;
                    background-color: #000;
                    border: none;
                    padding: 1.2rem 2rem;
                    font-weight: bold;
                    margin-top: 3rem;
                    cursor: pointer;
                }
            }
        }
    }

}

footer {
    margin: 1.2rem 0;
    p {
        font-family: 'Poppins', sans-serif;
        color: #9E9E9E;
        text-align: center;
        font-size: 0.9rem;
        @media screen and (max-width: $small){
            font-size: 0.75rem;
        }

        font-weight: 300;

        .creator {
            text-decoration: underline;
        }
    }
}

